// Variable overrides
$sidebar-bg: #323232;
$header-bg: #323232;
$footer-bg: #323232;
$header-color: white;
$header-border-width: 0px;
$footer-border-width: 0px;
$sidebar-border-color: white;
$sidebar-nav-title-color: white;
$sidebar-color: white;
$footer-color: white;
$sidebar-nav-link-color: white;
$sidebar-nav-link-icon-color: white;
$sidebar-nav-link-active-color: lightcoral;
$sidebar-nav-link-active-icon-color: lightcoral;
$sidebar-nav-group-bg: #ffee7480;
$sidebar-nav-group-items-padding-y: 0px;
$sidebar-nav-group-items-padding-x: 30px;
$sidebar-nav-group-toggle-show-color: white;


$primary: #ffee74;
$info: #ffe21f;
$success: #6eba8c;
$warning: #e85656;
$danger: #e85656;
$dark: #323232;

$form-check-input-checked-bg-color: black;
$form-check-input-checked-border-color: black;
$form-check-input-focus-box-shadow: black;
$input-focus-border-color: black;
$input-focus-box-shadow: black;
$accordion-button-active-color: black;
$btn-focus-box-shadow: black;
$high-emphasis-inverse: #000000;
$high-emphasis-inverse: #ffffff;



$min-contrast-ratio: 8;